.mole {
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

img {
  max-height: 100px;
  max-width: 100px;
}

@media only screen and (max-width: 599px) {
  .mole {
    height: 80px;
    width: 80px;
    margin: .5rem;
  }

  img {
    max-height: 80px;
    max-width: 80px;
  }
}
