@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap');

.game__field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none; 
}

.GameOver {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.GameOver__Button {
  padding: .5rem;
  margin-top: 2.5rem;
  font-family: 'Turret Road';
  width: 9rem;
  background-color: darkblue;
  color: gainsboro;
}

.MainGameScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
}

.MainGameScreen__Timer {
  margin: 1rem;
}
